@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');



:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif ; 
    --fonte2:'Passion One';
    --fonte3:'Share Tech Mono', monospace;
}
* {
    margin: 0px;
    padding: 0px;
    
}
html, body {
    font-family: var(--fonte3);
    min-height: 100vh;
    background-color: antiquewhite;

}
header {
    background-color: black;
    color: white;
    text-align: center;
}
header > h1 {
    font-family: var(--fonte3);
    font-size: 8vw;
    font-weight: 200;
    padding-top: 50px;
    font-variant: small-caps ;
}
header > p {
    padding-bottom: 50px;
}
a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover {
    text-decoration: underline;
}
section {
    font-family: var(--fonte3);
    font-size: 2.5vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;

}
section.normal {
    background-color: white;
    color: black;
}
section.imagem {
     background-color: rgb(39, 39, 39);
     color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.281);
    background-size: cover;
    background-attachment: fixed;

}
section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.500);
    border-radius: 3px;
    text-shadow: 1px 1px 0px black;
    
}
section#img01 {
    background-image: url(../imagens/background001.jpg);
    background-position: right center;   
}
section#img02 {
    background-image: url(../imagens/background002.jpg);
    background-position: right center;
}

footer {
    font-family: var(--fonte3);
    background-color: black;
    text-align: center;
    color: rgb(192, 192, 192);
    padding: 10px;
}
footer > p > a {
    color: rgb(202, 177, 96);
    text-decoration: dashed;
}